git+https://github.com/sigma67/ytmusicapi@master
git+https://github.com/nficano/pytube@master
youtube-search-python --upgrade
mutagen --upgrade
aiofiles --upgrade
httpx --upgrade
discord --upgrade
pynacl --upgrade
