<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6200EA">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Harmonoid Music Bot</h1>
      <h2 class="project-tagline">🎵 The music bot, you always dreamt of</h2>
      <a href="https://discord.gg/mRxH9zYkGy/" class="btn">☕ Join Discord</a>
      <a href="https://discord.com/oauth2/authorize?client_id=802600265005137980&scope=bot&permissions=36932608" class="btn">⚡ Invite it to your server</a>
      <a href="https://github.com/harmonoid/harmonoid-music-bot" class="btn">⭐ Star On GitHub</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="https://github.com/harmonoid/harmonoid-music-bot">harmonoid music bot</a> is written by <a href="https://github.com/harmonoid">harmonoid Team</a> 💙.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
